{% extends "base.html" %}

{% block content %}
<div class="form-size">
    <form method="post" role="form">
        <h2>Add Transaction</h2>
        <div class="error">{{error}}</div>
        
        <input type="text" name="date" value="{{date}}" class="form-control" placeholder="Date" required autofocus>
        <textarea name="description" class="form-control" placeholder="Description">{{description}}</textarea>
        <input type="text" name="business" value="{{business}}" class="form-control" placeholder="Business">
        <input type="text" name="category" value="{{category}}" class="form-control" placeholder="Category">
        <input type="text" name="transType" value="{{transType}}" class="form-control" placeholder="Transaction Type">
        <input type="text" name="amount" value="{{amount}}" class="form-control" placeholder="Amount" required>
        <input class="btn btn-lg btn-primary btn-block btn-spacing" type="submit">
    </form>
</div>
{% endblock %}
