<!DOCTYPE html>

<html>
	<head>
		<title>Project Owl</title>
		<link href="/static/main.css" rel="stylesheet">
		<link href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	
	<body>
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Project Owl</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user %}
                        <li><a href="/finance">View transactions</a></li>
                        <li><a href="/finance/addtrans">Add transaction</a></li>
                        <li><a href="/logout">Logout of {{user.name}}</a></li>
                        {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
		</div>
		<div id="content" class="container">
    		{% block content %}
    		{% endblock %}
		</div>
		
		<script src="/static/lib/jquery/dist/jquery.min.js"></script>
		<script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>