<!DOCTYPE html>

<html>
	<head>
		<title>Otis Post</title>
		<link type="text/css" rel="stylesheet" href="/static/main.css">
	</head>
	
	<body>
		<h1><a href="/">Otis Post</a></h1>
		<div id="navigation">
		    <a href="/finance">View transactions</a>
		    <a href="/finance/addtrans">Add transaction</a>
		    <span>|</span>
		    {% if user %}
		      <a href="/logout">Logout of {{user.name}}</a>
		    {% else %}
		    <a href="/register">Register</a>
		    <a href="/login">Login</a>
		    {% endif %}
		</div>
		<div id="content">
    		{% block content %}
    		{% endblock %}
		</div>
	</body>
</html>