<!DOCTYPE html>

<html>
	<head>
		<title>Otis Post</title>
	</head>
	
	<body>
		<h1>Otis Post</h1>
		<div class="error">{{error}}</div>
		
		<form method="post">
			<label>
				<div>Date</div>
				<input type="text" name="date" value="{{date}}">
			</label>
			
			<label>
				<div>Description</div>
				<textarea name="description">{{description}}</textarea>
			</label>
			
			<label>
				<div>Business</div>
				<input type="text" name="business" value="{{business}}">
			</label>
			
			<label>
				<div>Category</div>
				<input type="text" name="category" value="{{category}}">
			</label>
			
			<label>
				<div>Transaction Type</div>
				<input type="text" name="transtype" value="{{transtype}}">
			</label>
			
			<label>
				<div>Amount</div>
				<input type="text" name="amount" value="{{amount}}">
			</label>
			
			<hr>
			
			<div class="transaction">
				<table>
					<thead>
						<tr>
							<th><label>Date</label></th>
							<th><label>Description</label></th>
							<th><label>Business</label></th>
							<th><label>Category</label></th>
							<th><label>Transaction Type</label></th>
							<th><label>Amount</label></th>
						</tr>
					</thead>
					<tbody>
						{% for transaction in transactions %}<tr class="transaction">
							<td>{{transaction.date}}</td>
							<td>{{transaction.description}}</td>
							<td>{{transaction.business}}</td>
							<td>{{transaction.category}}</td>
							<td>{{transaction.transtype}}</td>
							<td>{{transaction.amount}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<input type="submit">
		</form>
	</body>
</html>