{% extends "base.html" %}

{% block content %}
<div class="form-size">
    <form method="post" role="form">
        <h2>Signup</h2>
        <input name="username" value="{{username}}" class="form-control" placeholder="Username" required autofocus>
        <div class="error">{{error_username}}</div>
        <input type="password" name="password" value="" class="form-control" placeholder="Password" required>
        <div class="error">{{error_password}}</div>
        <input type="password" name="verify" value="" class="form-control" placeholder="Verify Password" required>
        <div class="error">{{error_verify}}</div>
        <input type="text" name="email" value="{{email}}" class="form-control" placeholder="Email">
        <div class="error">{{error_email}}</div>
        <input class="btn btn-lg btn-primary btn-block btn-spacing" type="submit">
    </form>
</div>
{% endblock %}
